on:
  workflow_call:
    outputs:
      runner:
        value: ${{ jobs.setup.outputs.runner }}

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      runner: ${{ steps.step1.outputs.runner }}
    name: setup
    steps:
      - name: decide on runner
        id: step1
        run: |
          if [ ${{ github.event_name }} == 'pull_request' ]; then
            echo "using GitHub Actions default runner"
            echo "runner=ubuntu-latest" >> $GITHUB_OUTPUT
          else
            echo "using stable runner: 'benchmark-runner'"
            echo 'runner=benchmark-runner' >> $GITHUB_OUTPUT
          fi