name: fed-v1-constants-vus-subgraphs-delay
on:
  pull_request: {}
  push:
    branches:
      - 'main'

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  setup:
    uses: ./.github/workflows/setup.template.yaml

  benchmark:
    needs: [setup]
    strategy:
      fail-fast: false
      matrix:
        directory: [mesh, apollo-server, apollo-router, mercurius, wundergraph]
    uses: ./.github/workflows/benchmark.template.yaml
    name: ${{ matrix.directory }}
    with:
      gateway: ${{ matrix.directory }}
      vu: 100
      time: 30s
      scenarioDir: scenarios/fed-v1-constants-vus-subgraphs-delay
      runner: ${{ needs.setup.outputs.runner }}

  report:
    needs: benchmark
    uses: ./.github/workflows/report.template.yaml
    secrets: inherit
    with:
      scenarioDir: scenarios/fed-v1-constants-vus-subgraphs-delay
