name: federation-v1
on:
  pull_request: {}
  workflow_dispatch: {}

concurrency:
  group: federation-v1-${{ github.ref }}
  cancel-in-progress: true

jobs:
  subgraphs: 
    uses: ./.github/workflows/docker-bake.template.yaml
    with:
      dir: federation-v1/subgraphs
      hcl: docker.hcl
      target: subgraphs

  decide-runner:
    needs: subgraphs
    uses: ./.github/workflows/decide-runner.template.yaml

  constant-vus-over-time:
    needs:
      - decide-runner
      - subgraphs
    strategy:
      fail-fast: false
      matrix:
        directory: 
          - conductor
          - apollo-server
          - apollo-server-node16
          - apollo-router
          - mercurius
          - wundergraph
          # - mesh
          # - mesh-bun
          - mesh-supergraph
    uses: ./.github/workflows/benchmark.template.yaml
    with:
      gateway: ${{ matrix.directory }}
      vu: ${{ github.event_name == 'pull_request' && 100 || 300 }}
      time: ${{ github.event_name == 'pull_request' && '30s' || '600s' }}
      baseDir: federation-v1
      scenarioDir: constant-vus-over-time
      scenarioName: constant-vus-over-time
      runner: ${{ needs.decide-runner.outputs.runner }}
      cpuLimit: ${{ github.event_name == 'pull_request' && '1' || '2' }}
      memoryLimit: ${{ github.event_name == 'pull_request' && '2gb' || '4gb' }}
  
  constant-vus-over-time-report:
    needs: constant-vus-over-time
    uses: ./.github/workflows/report.template.yaml
    secrets: inherit
    with:
      scenarioName: constant-vus-over-time
      baseDir: federation-v1
      scenarioDir: constant-vus-over-time

  constant-vus-subgraphs-delay:
    needs:
      - decide-runner
      - subgraphs
    strategy:
      fail-fast: false
      matrix:
        directory: 
          - conductor
          - apollo-server
          - apollo-router
          - mercurius
          - wundergraph
          # - mesh
          # - mesh-bun
          - mesh-supergraph
    uses: ./.github/workflows/benchmark.template.yaml
    with:
      gateway: ${{ matrix.directory }}
      vu: ${{ github.event_name == 'pull_request' && 100 || 300 }}
      time: ${{ github.event_name == 'pull_request' && '30s' || '600s' }}
      baseDir: federation-v1
      scenarioDir: constant-vus-over-time
      scenarioName: constant-vus-subgraphs-delay
      runner: ${{ needs.decide-runner.outputs.runner }}
      cpuLimit: ${{ github.event_name == 'pull_request' && '1' || '2' }}
      memoryLimit: ${{ github.event_name == 'pull_request' && '2gb' || '4gb' }}
      subgraphDelayRange: "40~150"
  
  constant-vus-subgraphs-delay-report:
    needs: constant-vus-subgraphs-delay
    uses: ./.github/workflows/report.template.yaml
    secrets: inherit
    with:
      scenarioName: constant-vus-subgraphs-delay
      baseDir: federation-v1
      scenarioDir: constant-vus-over-time

  constant-vus-subgraphs-delay-resources:
    needs:
      - decide-runner
      - subgraphs
    strategy:
      fail-fast: false
      matrix:
        directory:
          - conductor
          - apollo-server
          - apollo-router
          - mercurius
          - wundergraph
          # - mesh
          # - mesh-bun
          - mesh-supergraph
    uses: ./.github/workflows/benchmark.template.yaml
    with:
      gateway: ${{ matrix.directory }}
      vu: ${{ github.event_name == 'pull_request' && 100 || 500 }}
      time: ${{ github.event_name == 'pull_request' && '30s' || '600s' }}
      baseDir: federation-v1
      scenarioDir: constant-vus-over-time
      scenarioName: constant-vus-subgraphs-delay-resources
      runner: ${{ needs.decide-runner.outputs.runner }}
      cpuLimit: ${{ github.event_name == 'pull_request' && '2' || '4' }}
      memoryLimit: ${{ github.event_name == 'pull_request' && '2gb' || '8gb' }}
      subgraphDelayRange: "40~150"

  constant-vus-subgraphs-delay-resources-report:
    needs: constant-vus-subgraphs-delay-resources
    uses: ./.github/workflows/report.template.yaml
    secrets: inherit
    with:
      scenarioName: constant-vus-subgraphs-delay-resources
      baseDir: federation-v1
      scenarioDir: constant-vus-over-time

  ramping-vus:
    needs:
      - decide-runner
      - subgraphs
    strategy: 
      fail-fast: false
      matrix:
        directory:
          - conductor
          - apollo-server
          - apollo-router
          # - mercurius
          - wundergraph
          # - mesh
          # - mesh-bun
          - mesh-supergraph
    uses: ./.github/workflows/benchmark.template.yaml
    with:
      gateway: ${{ matrix.directory }}
      vu: ${{ github.event_name == 'pull_request' && 500 || 2000 }}
      time: ${{ github.event_name == 'pull_request' && '60s' || '600s' }}
      baseDir: federation-v1
      scenarioDir: ramping-vus
      scenarioName: ramping-vus
      runner: ${{ needs.decide-runner.outputs.runner }}
      cpuLimit: ${{ github.event_name == 'pull_request' && '2' || '4' }}
      memoryLimit: ${{ github.event_name == 'pull_request' && '2gb' || '8gb' }}
  
  ramping-vus-report:
    needs: ramping-vus
    uses: ./.github/workflows/report.template.yaml
    secrets: inherit
    with:
      scenarioName: ramping-vus
      scenarioDir: ramping-vus
      baseDir: federation-v1